@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top left,
      rgba(0,255,255,0.10),
      transparent 25%),

    radial-gradient(circle at bottom right,
      rgba(168,85,247,0.12),
      transparent 25%),

    #050816;

  color: white;
  overflow-x: hidden;
}

/* Glass Effect */
.glass {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.08);
}

/* Grid Background */
.bg-grid {
  background-image:
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);

  background-size: 40px 40px;
}

/* Glow Shadow */
.glow {
  box-shadow:
    0 0 20px rgba(0,255,255,0.3),
    0 0 40px rgba(168,85,247,0.2);
}

/* Fade Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.8s ease forwards;
}
/* Background Grid */
.bg-grid {
  background-image:
    linear-gradient(rgba(0,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,255,255,0.05) 1px, transparent 1px);

  background-size: 50px 50px;
}

/* Floating Particles */
.particle {
  width: 3px;
  height: 3px;

  background: #00d9ff;

  border-radius: 9999px;

  box-shadow:
    0 0 10px #00d9ff,
    0 0 20px rgba(0,217,255,0.5);

  opacity: 0.7;

  animation: floatParticle 6s infinite ease-in-out;
}

@keyframes floatParticle {

  0% {
    transform: translateY(0px);
    opacity: 0.3;
  }

  50% {
    transform: translateY(-20px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0.3;
  }
}